<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<!-- <h3>Sale Repository List</h3> -->
		</div>
		<div class="row" id="main">
			<div class="col-xs-12 col-sm-12 col-md-12 mar-top" id="content">
				<div>
					<table class="table table-striped table-responsive">
						<thead>
							<tr>
								<th>#</th>
								<th>Agent Name</th>
								<th>Agent Email</th>
								<th>Property</th>
								<th>Deal Date</th>
								<th>Unit Price</th>
								<th>No of Unit</th>
								<th>Total Price</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let sale of sales">
								<td>{{sale.id}}</td>
								<td>{{sale.codeAgent.agentName}}</td>
								<td>{{sale.codeAgent.agentEmail}}</td>
								<td>{{sale.codeProperty.descProperty}}</td>
								<td>{{sale.dealDate}}</td>
								<td>{{sale.unitPrice}}</td>
								<td>{{sale.units}}</td>
								<td>{{sale.totalPrice}}</td>
							</tr>
						</tbody>
					</table>
					<div class="form-group pull-right">
						<div class="col-12 col-sm-6 col-md-6">
							<a href="#" routerLink="/sales-repository/create"
								class="btn btn-large btn-primary">New Sale</a>
						</div>
						<div class="col-12 col-sm-6 col-md-6">
							<button (click)="exportAsExcel()"
								class="btn btn-large btn-primary">Export to Excel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>