<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav side-nav">
		<li><a href="#" routerLink="/dashboard" routerLinkActive="active"><i
				class="fa fa-fw fa-home"></i> Dashboard </a></li>
		<li><a href="#" routerLink="/sales-repository/list"
			routerLinkActive="active"><i class="fa fa-fw fa-money"></i> Sales
				Repository</a></li>
		<li><a href="#" routerLink="/customer-repository/list"
			routerLinkActive="active"><i class="fa fa-fw fa-user-plus"></i>
				Customer Repository</a></li>
		<li><a href="#" routerLink="/sales-persons-profile/list"><i
				class="fa fa-fw fa fa-user"></i> Sales Persons Details</a></li>
		<li><a href="#" routerLink="sales-person-match/list"><i
				class="fa fa-fw fa fa-thumbs-up"></i>Sales Persons Match</a></li>
	</ul>
</div>