<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<!-- <h3>Sale Repository List</h3> -->
		</div>
		<div class="row" id="main">
			<div class="col-xs-12 col-sm-12 col-md-12 mar-top" id="content">
				<div>
					<table class="table table-striped table-responsive">
						<thead>
							<tr>
								<th>Target Name</th>
								<th>Project Name</th>
								<th>Quantity</th>
								<th>Status Targets (Number)</th>
								<th>Status Targets (Percentage)</th>
								<th>Weight (Percentage)</th>
								<th>Completion Date</th>
								<th>Counter until Date</th>
								<th>Total Score</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let salesPersonTarget of salesPersonTargets">
								<td>{{salesPersonTarget.targetName}}</td>
								<td>{{salesPersonTarget.projectName}}</td>
								<td>{{salesPersonTarget.quantityTarget}}</td>
								<td>{{salesPersonTarget.statusTargetNumber}}</td>
								<td>{{salesPersonTarget.statusTargetPercentage}}%</td>
								<td>{{salesPersonTarget.weightInPercentage}}%</td>
								<td>{{salesPersonTarget.completionDate | date: 'yyyy-MM-dd'}}</td>
								<td>{{salesPersonTarget.counterUntilDate}}</td>
								<td>{{salesPersonTarget.totalScore}}</td>
							</tr>
						</tbody>
					</table>
					<div class="form-group pull-right">
						<div class="col-12 col-sm-6 col-md-6">
							<button (click) = "exportAsExcel()" class="btn btn-large btn-primary">Export to Excel
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>