

<div id="page-wrapper">
	<div class="container-fluid mar-bottom">
		
		<!-- Page Heading -->
		<div class="row mar-top">
			<div class="col-md-12">
				<h4>Search Preferences</h4>
				<div class="border">
					<div class="row padd">
						<div class="col-md-12 ">
							<div class="col-md-4">
								<select class="form-control form-control-lg" name="gender"
									[(ngModel)] = "model.gender" #gender="ngModel">
									
									<option *ngFor="let gender of genders" value="{{gender.value}}">{{gender.name}}</option>
								</select>
							</div>
							<div class="col-md-4">
								<select class="form-control form-control-lg" name="language"
									[(ngModel)] = "model.language" #language = "ngModel">
									
									<option *ngFor="let language of languages" value="{{language.value}}">{{language.name}}</option>
								</select>
							</div>
							<div class="col-md-4">
								<select class="form-control form-control-lg" name="customerType"
									[(ngModel)]="model.customerType" #customerType="ngModel">
									
									<option *ngFor="let ctype of customerTypes" value="{{ctype.value}}">{{ctype.name}}</option>
								</select>
							</div>
						</div>

					</div>
					<div class="row padd">
						<div class="col-md-12 ">
							<div class="col-md-4">
								<select class="form-control form-control-lg"
									name="transactionType" [(ngModel)] = "model.transactionType" #transactionType = "ngModel">
									
									<option *ngFor="let ttype of transactionTypes" value="{{ttype.value}}">{{ttype.name}}</option>
								</select>
							</div>

							<div class="col-md-4">
								<select class="form-control form-control-lg" name="priceLevel"
									[(ngModel)] = "model.priceLevel" #priceLevel = "ngModel">
									
									<option *ngFor="let plevel of priceLevels" value="{{plevel.value}}">{{plevel.name}}</option>
								</select>
							</div>
							<div class="col-md-4">
								<select class="form-control form-control-lg" name="propertyType"
									[(ngModel)] = "model.propertyType" #propertyType = "ngModel">
									
								<option *ngFor="let ptype of propertyTypes" value="{{ptype.value}}">{{ptype.name}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row padd">
						<div class="col-md-12 ">
							<div class="col-md-4">
								<input class="form-control form-control-lg" name="age"
									[(ngModel)] = "model.age" #age = "ngModel" value=""
									type="number" size="30" min="0" placeholder="Please Enter Age">
							</div>
						</div>
						<div class="col-md-12 ">
							<div class="col-md-0 pull-right">
								<button type="submit" class="btn btn-primary" (click) = "match()">Search</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="main">
			<div class="col-xs-12 col-sm-12 col-md-12 mar-top" id="content">
				<div>
					<table class="table table-striped table-responsive">
						<thead>
							<tr>
								<th>Customer Name</th>
								<th>Target Name</th>
								<th>Age Range</th>
								<th>Customer Type</th>
								<th>Gender</th>
								<th>Language</th>
								<th>Price Levels</th>
								<th>Real Estate Type</th>
								<th>#</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let salesPerson of salesPersonProfiles">
								<td>{{salesPerson.agentName}}</td>
								<td>{{salesPerson.targetName}}</td>
								<td>{{salesPerson.codeAgeGroup ?
									salesPerson.codeAgeGroup.descAgeGroup : ''}}</td>
								<td>{{salesPerson.codeCustomerType ?
									salesPerson.codeCustomerType.descCustomerType : ''}}</td>
								<td>{{salesPerson.codeGender ?
									salesPerson.codeGender.descGender : ''}}</td>
								<td>{{salesPerson.codeLang ? salesPerson.codeLang.descLang
									: ''}}</td>
								<td>{{salesPerson.codePriceRange ?
									salesPerson.codePriceRange.descPriceRange : ''}}</td>
								<td>{{salesPerson.codePropertyType ?
									salesPerson.codePropertyType.descPropertyType : ''}}</td>
								<td>
									<a href="#" [routerLink]="['/sales-person-targets/list/', salesPerson.codeAgent]">
										<i class="fa fa-address-card" title="Sales Person Targets"></i>
									</a>
								</td>
							</tr>
							<tr *ngIf = "salesPersonProfiles?.length == 0">
								<td colspan="9" align="center">No results found</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
