<div id="throbber" style="display: none; min-height: 120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
	<!--  Header Nav Bar -->
	<app-headerbar></app-headerbar>
	
	<!-- Left Nav Bar -->
	<app-leftnavbar></app-leftnavbar>
	<router-outlet></router-outlet>	
</div>


