<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<!-- <h3>Customer Repository List</h3> -->
		</div>
		<div class="row" id="main">
			<div class="col-xs-12 col-sm-12 col-md-12 mar-top" id="content">
				<div>
					<div class="form-group pull-right">
						<input type="text" class="search form-control" id="search"
							placeholder="Search..">
					</div>
					<table class="table table-striped table-responsive">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Type</th>
								<th>Gender</th>
								<th>Language</th>
								<th>Property Type</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let customer of customers">
								<td scope="row">{{customer.codeCustomer}}</td>
								<td>{{customer.customerName}}</td>
								<td>{{customer.customerEmail}}</td>
								<td>{{customer.customerPhone}}</td>
								<td>{{customer.codeCustomerType.descCustomerType}}</td>
								<td>{{customer.codeGender.descGender}}</td>
								<td>{{customer.codeLang.descLang}}</td>
								<td>{{customer.codePropertyType.descPropertyType}}</td>
							</tr>
						</tbody>
					</table>
					<div class="form-group pull-right">
						<button (click)="exportAsExcel()"
							class="btn btn-large btn-primary">Export to Excel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>