<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row"></div>
		<div class="form-group pull-right">
			<select class="form-control" name="Id" id="Id" #person (change) = "getDashboard(person.value)">
				<option value="" selected="selected">Select Sales Person</option>
				<option *ngFor="let salePerson of salesPersonProfiles" value="{{salePerson.codeAgent}}">
					{{salePerson.agentName}}
				</option>
			</select>
		</div>
		<div class="row" style="display: -webkit-box; padding-top: 100px;"
			id="main">
			<div [chart]="sales" style="width: 350px; height: 250px;"></div>
			<div [chart]="targets" style="width: 350px; height: 250px;"></div>
			<div [chart]="counters" style="width: 350px; height: 250px;"></div>
		</div>
	</div>
</div>