/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

@charset "utf-8";
/* CSS Document */
@import
	url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.padd-top {
	padding: 5px 0px;
}

.mar-top {
	margin-top: 20px;
}

.border {
	border: 1px solid #ccc;
	padding: 10px;
}

.padd-left {
	padding-left: 30px;
}

.padd {
	padding: 5px;
}

.drop-right {
	text-align: right;
}

.border-input {
	border: 1px solid #ccc;
}

.pad-left {
	padding-left: 10px;
}

@media ( min-width :768px) {
	body {
		margin-top: 50px;
	}
	/*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
	padding-left: 0;
}

#page-wrapper {
	width: 100%;
	padding: 0;
	background-color: #fff;
}

@media ( min-width :768px) {
	#wrapper {
		padding-left: 225px;
	}
	#page-wrapper {
		padding: 22px 20px;
	}
}

/* Top Navigation */
.top-nav {
	padding: 0 15px;
}

.top-nav>li {
	display: inline-block;
	float: left;
}

.top-nav>li>a {
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 20px;
	color: #fff;
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover,
	.top-nav>.open>a:focus {
	color: #fff;
	background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
	float: left;
	position: absolute;
	margin-top: 0;
	/*border: 1px solid rgba(0,0,0,.15);*/
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav>.open>.dropdown-menu>li>a {
	white-space: normal;
}

/* Side Navigation */
@media ( min-width :768px) {
	.side-nav {
		position: fixed;
		top: 60px;
		left: 225px;
		width: 225px;
		margin-left: -225px;
		border: none;
		border-radius: 0;
		border-top: 1px rgba(0, 0, 0, .5) solid;
		overflow-y: auto;
		background-color: #222;
		/*background-color: #5A6B7D;*/
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px;
	}
	.side-nav>li>a {
		width: 225px;
		border-bottom: 1px rgba(0, 0, 0, .3) solid;
	}
	.side-nav li a:hover, .side-nav li a:focus {
		outline: none;
		background-color: #1a242f !important;
	}
}

.side-nav>li>ul {
	padding: 0;
	border-bottom: 1px rgba(0, 0, 0, .3) solid;
}

.side-nav>li>ul>li>a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	/*color: #999;*/
	color: #fff;
}

.side-nav>li>ul>li>a:hover {
	color: #fff;
}

.navbar .nav>li>a>.label {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 14px;
	right: 6px;
	font-size: 10px;
	font-weight: normal;
	min-width: 15px;
	min-height: 15px;
	line-height: 1.0em;
	text-align: center;
	padding: 2px;
}

.navbar .nav>li>a:hover>.label {
	top: 10px;
}

.navbar-brand {
	padding: 5px 15px;
}


@media only screen and (max-width: 500px) {
	#page-wrapper {
		margin-top: 120px !important;
	}
}

.form-signin {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	display: block;
	background-color: #f7f7f7;
	-moz-box-shadow: 0 0 3px 3px #888;
	-webkit-box-shadow: 0 0 3px 3px #888;
	box-shadow: 0 0 3px 3px #888;
	border-radius: 2px;
}

.main {
	padding: 38px;
}

.social-box {
	margin: 0 auto;
	padding: 38px;
	border-bottom: 1px #ccc solid;
}

.social-box a {
	font-weight: bold;
	font-size: 18px;
	padding: 8px;
}

.social-box a i {
	font-weight: bold;
	font-size: 20px;
}

.heading-desc {
	font-size: 20px;
	font-weight: bold;
	padding: 38px 38px 0px 38px;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: 45px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: 10px;
	border-radius: 5px;
}

.form-signin input[type="email"] {
	margin-bottom: 10px;
	border-radius: 5px;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-radius: 5px;
}

.login-footer {
	background: #f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding: 20px;
}

.login-footer .left-section a {
	font-weight: bold;
	color: #8a8a8a;
	line-height: 19px;
}

.mg-btm {
	margin-bottom: 20px;
}

.help-inline {
	color: red;
	font-size: 14px;
}

.help-block {
	background: #ffe5e5;
	width: 322px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: -45px;
	border: solid 2px;
	border-radius: 5px;
}

.error-messages.ng-active {
	background: maroon;
	color: white;
	padding: 5px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	position: relative;
}

.error-messages.ng-active:after {
	position: absolute;
	top: -10px;
	content: "";
	left: 20px;
	border-style: solid;
	border-color: transparent transparent maroon;
	border-width: 5px;
}

.msg {
	width: 322px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: -30px;
}

.signin-page-body {
	/* background: url('../img/bg_login.jpg'); */
	background-size: cover;
	padding: 0;
	margin: 0;
}