<div id="page-wrapper">
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="row">
			<!-- <h3>Customer Repository List</h3> -->
		</div>
		<div class="row" id="main">
			<div class="col-xs-12 col-sm-12 col-md-12 mar-top" id="content">
				<div>
					<table class="table table-striped table-responsive">
						<thead>
							<tr>
								<th>Customer Name</th>
								<th>Target Name</th>
								<th>Age Range</th>
								<th>Customer Type</th>
								<th>Gender</th>
								<th>Language</th>
								<th>Price Levels</th>
								<th>Real Estate Type</th>
								<th>#</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let salesPerson of salesPersonProfiles">
								<td>{{salesPerson.agentName}}</td>
								<td>{{salesPerson.targetName}}</td>
								<td>{{salesPerson.codeAgeGroup ?
									salesPerson.codeAgeGroup.descAgeGroup : ''}}</td>
								<td>{{salesPerson.codeCustomerType ?
									salesPerson.codeCustomerType.descCustomerType : ''}}</td>
								<td>{{salesPerson.codeGender ?
									salesPerson.codeGender.descGender : ''}}</td>
								<td>{{salesPerson.codeLang ? salesPerson.codeLang.descLang
									: ''}}</td>
								<td>{{salesPerson.codePriceRange ?
									salesPerson.codePriceRange.descPriceRange : ''}}</td>
								<td>{{salesPerson.codePropertyType ?
									salesPerson.codePropertyType.descPropertyType : ''}}</td>
								<td>
									<a href="#" [routerLink]="['/sales-person-targets/list/', salesPerson.codeAgent]">
										<i class="fa fa-address-card" title="Sales Person Targets"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>