<form name="form" (ngSubmit)="f.form.valid && createSale()" #f="ngForm">
	<div id="page-wrapper">
		<div class="container-fluid mar-bottom">
			<!--  SHOWING ERROR MESSAGE -->
			<div *ngIf="status"
				[ngClass]="{ 'alert': status, 'alert-success': status.type === 'success', 'alert-danger': status.type === 'error' }">
				<span><strong>{{status.prefix}}</strong> {{status.message}}</span>
			</div>

			<!-- Page Heading -->
			<div class="row padd">
				<div class="col-md-3">Customer ID</div>
				<div class="col-md-3">
					<input class="form-control form-control-lg" name="codeCustomer"
						[(ngModel)] = "model.codeCustomer" #codeCustomer = "ngModel"
						type="text" size="20" (keyup) = "getCustomerById(codeCustomer.value)">
				</div>
			</div>
			<div class="row padd">
				<div class="col-md-3">Customer Name</div>
				<div class="col-md-3">
					<input class="form-control form-control-lg" name="customerName"
						[(ngModel)] = "model.customerName" #customerName = "ngModel"
						type="text" size="30" value="{{model.customerName}}">
				</div>
			</div>
			<div class="row padd">
				<div class="col-md-3 padd">
					<div class="pad-left">Agent Name</div>
				</div>
				<div class="col-md-3">
					<select class="form-control form-control-lg" name="codeAgent"
						[(ngModel)]="model.codeAgent" #codeAgent="ngModel">

						<option *ngFor="let agent of agents" value="{{agent.codeAgent}}" selected>
							{{agent.agentName}}
						</option>
					</select>
				</div>
			</div>
			<div class="row padd">
				<div class="col-md-3 padd">
					<div class="pad-left">Property Name</div>
				</div>
				<div class="col-md-3">
					<select class="form-control form-control-lg" name="codeProperty"
						[(ngModel)]="model.codeProperty" #codeProperty="ngModel">

						<option *ngFor="let property of properties" value="{{property.codeProperty}}">
							{{property.descProperty}}
						</option>
					</select>
				</div>
			</div>
			<div class="row padd">
				<div class="col-md-3">Date</div>
				<div class="col-md-3">
					<input class="form-control form-control-lg" name="dealDate" type="text"
						[(ngModel)]="model.dealDate" #dealDate="ngModel"
						size="30">
				</div>
			</div>
			<div class="row padd">
				<div class="col-md-3">Amount of Units</div>
				<div class="col-md-3">
					<input class="form-control form-control-lg" name="units"
					[(ngModel)]="model.units" #units="ngModel"
						type="number" size="30" min="0">
				</div>
			</div>
			<div class="row padd">
				<div class="col-md-3">Unit Price</div>
				<div class="col-md-3">
					<input class="form-control form-control-lg" name="unitPrice"
						[(ngModel)]="model.unitPrice" #unitPrice="ngModel"
						type="number" size="30" min="0">
				</div>
			</div>
			<div class="row padd">
				<div class="col-md-3">Discount (%)</div>
				<div class="col-md-3">
					<input class="form-control form-control-lg" name="discount"
						[(ngModel)]="model.discount" #discount="ngModel"
						type="number" size="30" min="0">
				</div>
			</div>
			<div class="row padd">
				<div class="col-md-3"></div>
				<div class="col-md-3">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>